services:
  mongo-upme:
    image: mongo:latest
    container_name: mongo-proyecto-upme
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db
    networks:
      - upme-network
    command: mongod --bind_ip_all

  etl-loader:
    build:
      context: ./data
      dockerfile: Dockerfile
    container_name: etl-loader-script
    depends_on:
      - mongo-upme
    environment:
      - MONGO_URI=mongodb://mongo-upme:27017
      - MGN_ZIP_PATH=/app/MGN2024_00_COLOMBIA.zip
      - ONEDRIVE_URL=https://drive.google.com/uc?export=download&id=1s4chbFTk9WGp_c7bbeWM8xGJhn0kttHg
    networks:
      - upme-network
    volumes:
      - ./data:/app
    command: bash -c "/app/run_etl.sh"

volumes:
  mongo_data:

networks:
  upme-network:
    driver: bridge
